# Python - skompilowane pliki
__pycache__/
*.py[cod]
*$py.class
*.so

# Pytest i testowanie
.pytest_cache/
.cache/
.tox/
.coverage
coverage.xml
htmlcov/
pytestdebug.log

# Środowiska wirtualne
venv/
.venv/
env/
.env/
bin/
lib/
develop-eggs/
dist/
build/
*.egg-info/

# Konfiguracja VS Code (opcjonalnie)
.vscode/
Thumbs.db
.idea/
.DS_Store